@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --alert-red: #ff0000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-alert-red: var(--alert-red);
  --font-serif: var(--font-merriweather);
  --font-mono: var(--font-jetbrains-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif); /* Default to Serif for that "Newspaper" feel */
}
